
html, body {
  height: 100%;
  font-family: 'Poiret One';
  background-image: url(../data/wooden-shelf-product-background.jpg);
  background-size: cover;
  width: 100%;
  margin: 0px;
}

* {
  font-family: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

input:focus,
button:focus {
  outline: none;
}

/* MAIN */
main {
  height: 50%;
  display: flex;  
  align-items: flex-end;
  background-size: contain;
}

.sidebar {
  width: 100vh;
  height: 3vh;
  transform-origin: bottom left;
  position: absolute;
  left: 35px;
  bottom: 0;
  transform: rotate(-90deg);
  text-align: center;
  color: #000000;
  padding-bottom: .5%;
  border-bottom: solid;
  font-size: 2em;
  font-weight: bold;
}

/* USER BUTTONS */
.button-container {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  width: 40%;
  flex-flow: column;
  margin-left: 2%;
}

.button-container > button {
  border: none;
  background-color: inherit;
  color: #000000;
  margin: 7%;
  height: 1vh;
  font-size: 2.5vh
}

.pantry-container {
  box-shadow: 0px 0px 2px 2px #000000;
  margin: 3%;
  overflow-y: scroll;
}

/* SEARCH CONTAINER */
.search-container {
  align-items: flex-end;
}

.search-field, .search-container > label {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color:#000000;
  color: #000000;
  font-size: 2.5vh;
}


/* CURRENT RECIPE */
.current-recipe-container {
  display: flex;
  align-self: center;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-size: cover;
  align-items: flex-start; 
  border-radius: 10%;
  margin-right: 2%;
  margin: 0 2% 0 1.5%;
}

.current-recipe {
  display: flex;
  box-shadow: 0px 0px 2px 2px #000000;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.current-recipe-title-container {
  color: #000000;
}

.current-recipe-img {
  width: 100%;
}


.current-recipe-instructions {
  width: 80%;
  overflow-y: scroll;
}

.current-recipe-ingredients {
  width: 50%;
  overflow-y: scroll;
}


.cook-btn {
  background-color: transparent;
  border-radius: 20px;
  margin: 50% 0 3% 3%;
}


/* INTERACTIVE-AREA */

.interactive-container {
  display: flex;
  height: 45%;
}

.my-list-container {
  padding: 1%;
}

.my-list-btn {
  color: #000000;
  background-color: transparent;
  border-radius: 5%;
  border: 1px solid;
}

/* RADIO FORM */
.tag-container {
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  height: 100%;
  margin: 0px 5% 10% 10%;
}

input[type="radio"] {
  visibility: hidden;
}

.tag-container > label {
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: .5vh;
  margin: 3%;
  color: #000000;
  font-size: 2.5vh;
}

.tag-label-checked, 
.tag-container > label:hover {
  background-color: #92a8d1;  
  font-size: 2.51vh;
}

/* RECIPE CARDS */

.recipe-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20%;
}

.recipe-card {
  display: flex;
  margin: 2%;
  height: 100%;
} 
/* UNFEATURED RECIPE */

.recipe {
  display: flex;
  flex-direction: column;
  opacity: .9;
  width: 21vh;
  margin: 5%;
  transition: transform 500ms;
}

.recipe-title {
  text-align: right;
  font-size: 2.2vh;
}

.recipe-img {
  height: 15vh;
  width: 15vh;
  border-radius: 20%;
  margin-right: -25%;
  opacity: 0.85;
  align-self: flex-end;
  transition: transform 500ms;
}

/* RECIPE WHEN HOVERED */

.recipe-card:hover .recipe,
.recipe-card:hover .recipe-img {
  opacity: 1;
  transform: scale(1.25);
  animation-duration: .5s;
}

.recipe-card:hover .recipe-img {
  height: 20vh;
  width: 20vh;
  border-radius: 35%;
  transform: translateX(-15%);
}



/* FAVORITE BUTTONS */
.favorite-label {
  align-self: flex-start;
  min-height: 30px;
  min-width: 30px;
  background-image: url("https://image.flaticon.com/icons/png/512/109/109697.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer
}

.favorite-label:hover,
.fav-checked {
  border-radius: 50%;
  height: 31px;
  width: 31px;
  background-color: #fcff64;
}
.recipe-card:hover .favorite-label {
  visibility: visible;
}



/* CHANGE PAGE ARROWS */

.arrow {
  cursor: pointer;
  width: 48px;
  height: 48px;
  color: #000000;
  position: absolute;
  border-bottom: 3px solid;
  border-left: 3px solid;
}
  
.right {
  transform: rotate(-135deg);
  right: 3%;
}

.left {
  transform: rotate(45deg);
  left: 15%;
}

/* RECIPE CARD COLORS */

.blue-card {
  background-color: #92a8d1;
  box-shadow: 0px 0px 2px 2px #92a8d1;
}

.yellow-card {
  background-color: #f2e394;
  box-shadow: 0px 0px 2px 2px #D7E7A9;
}

.navy-card {
  background-color: #034f84;
  box-shadow: 0px 0px 2px 2px #034f84;
}

.orange-card {
  background-color: #d96459;
  box-shadow: 0px 0px 2px 2px #f7786b;
}

.pink-card {
  background-color: #f7786b;
  box-shadow: 0px 0px 2px 2px #f7cac9;
}

/* TABLET */

@media screen and (max-width: 800px) {
  .interactive-container {
    width: 60%;
  }
  
  .my-list-container {
    margin: 5%;
  }
  
  .current-recipe-title-container {
    width: 30%;
  }
  
  .current-recipe-title {
    font-size: 1em;
  }
  
  .recipe-list {
    margin-left: 5%;
  }
  
  .recipe {
    width: 12vh;
  }
  
  .recipe-img {
    width: 50%;
  }
  
  .tag-container {
    flex-flow: column wrap;
    margin-left: -1%;
  }
  
  .sidebar {
    display: none;
  }
  
  .button-container {
    margin-top: 10%;
    margin-left: 5%;
    width: 20%;
  }
  
  .button-container > button {
    margin: 15%;
  }
  
  .tag-container > label {
    font-size: 1em;
  }
  
  .my-list-btn {
    padding: .5vh;
    overflow-y: hidden;
  }
  
  .pantry-container {
    overflow: visible; 
    width: 100%;
  }
  .my-ingredients {
    overflow-y: scroll;
  }
  
}

@media screen and (max-width: 500px) {
  html, body {
    background: transparent;
  }

  main {
    height: 100%;
  }

  .interactive-container {
    width: 100%;
    height: 30%;
  }
  
  .current-recipe-container {
    width: 90%;
    align-self: flex-end;
  }

  .current-recipe-title-container {
    width: 40%;
  }

  .recipe-list {
    flex-flow: column;
    overflow-y: scroll;
    width: 100%;
  }
  
  .recipe {
    width: 8.5vh;
  }
  
  .recipe-img {
    width: 25%;
  }
  
  .tag-container {
    flex-flow: column;
  }
  
  .button-container {
    margin-right: 2%;
  }
  
  .arrow {
    align-self: flex-end
  }

  .right {
    margin-right: -50%;
  }

}

/* HIDDEN */
.hidden {
  display: none;
} 

.vis-hidden {
  visibility: hidden;
}